@import url('https://fonts.googleapis.com/css?family=Lato:300');


h1,h2,h4,h5,h6{
	text-transform: uppercase;;
	color: #444;
	font-family: Raleway-Regular;
	letter-spacing: 1px;
}

h2{
	font-size: 26px;
	color: #333;
	font-weight: bold;
}

h3{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	padding-top: 20px;
	font-weight: normal;
	color:#777;
}
h4{
	margin-top: 15px;
	font-size: 16px;
}
h5{
	font-family: 'Lato', sans-serif;
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0;
	font-size: 12px;
}

p{
	color: #888;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

.wrap {
	width: 90%;
	margin:auto;
}

.home , .services {
	margin-top: 50px;
	text-align: center;
}

.container-columns {
	width: 100%;
	margin: auto;
	margin-bottom: 50px;
}

.column {
	width: 33.33%;
	float: left;
	padding: 20px 20px;
	box-sizing: border-box;
	margin: auto;
}

.column img {
	width: 100%;
}


.banner-1{
	clear: both;
	padding: 30px 50px 50px 50px;
	text-align: center;
	box-sizing: border-box;	
	background: #004e70;
	transition: 0.4s;
}

.banner-1:hover {
	background-color: #004e50;
	transition: 0.4s;
}

.banner-1 h3 {
	color: #fff;
	font-size: 32px;
}

.banner-1 a{ 
	text-decoration: none;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	border-bottom: 2px solid #fff;
}

.column i {
	float: left;
	padding-right: 20px;
	color: #004e70;
}

.column h4 {
	padding-bottom: 20px;
}